<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html>
	<body style='font-family: sans-serif; color: black;'>
		<h1>
			<%- title %> 
		</h1>
		<div>
			<%- summary %> 
		</div>

		<% if (links && links.length > 0) { %>
			<div>
				<h4 style='margin:0; margin-top:20px;'>Applicable Links:</h4>
				<ul style='margin:0;'>
					<% for(let link of links) { %>
						<li>
							<a href="<%- link.Link %>"><%- link.Text %></a>
						</li>
					<% } %>
				</ul>
			</div>
		<% } %>

		<% if (tables) { %>
			<% for(let table of tables) { %>
				<div style='margin:0; margin-top:24px; margin-bottom: 24px;'>
					<% if (table.summary) { %>
						<h4 style="margin:0; margin-bottom:6px;">
							<%- table.summary %> 
						</h4>
					<% } %>
					<table style='width:100%; border-collapse:collapse; border:1px solid rgb(215, 215, 215); color:rgb(89, 89, 89); margin:0;'>
						<thead>
							<tr>
								<% for(let column of table.columns) { %>
									<th style='padding: 6px; border: 1px solid rgb(215, 215, 215);'>
										<%- column.name || column.value %> 
									</th>
								<% } %>
							</tr>
						</thead>
						<tbody>
							<% for(let row of table.rows) { %>
								<tr>
									<% for(let cell of row) { %>
										<td style='padding: 6px; border: 1px solid rgb(215, 215, 215);'>
											<% if (cell.link) { %>
												<a href="<%- cell.link %>"><%- cell.value %></a>
											<% } else { %>
												<%- cell.value %>
											<% } %>
										</td>
									<% } %>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			<% } %>
		<% } %>

		<div style='color:rgb(89, 89, 89); font-size: 75%;'>
			Generated: <%- new Date() %> 
		</div>
	</body>
</html>
